/*--Classes--*/
.row-header{
  margin: 0px auto;
  padding: 0px;
}
.row-content{
  min-height: 400px;
  align-items: center;
  padding: 50px 0px 50px 0px;
  margin: 0px auto;
  border-bottom: 1px ridge;
}
.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
}
.navbar-dark {
  background-color: #512DA8;
}
/*--Tags--*/
address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

/*--ids--*/


/*Test
.btn-outline-primary {
  color:floralwhite;
  background-color: transparent;
  background-image: none;
  border-color:floralwhite
}

.btn-outline-primary:hover {
  color: #222;
  background-color:floralwhite;
  border-color:#222
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 .1rem #222
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color:floralwhite;
  background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
  color: #212529;
  background-color: floralwhite;
  border-color: #222
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem #222
}
*/